{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-eyecatchRole">
        <div class="ec-eyecatchRole__image">
            <img src="{{ asset('assets/img/top/img_new_no1.jpg', 'user_data') }}" alt="" role="presentation"/>
        </div>
        <div class="ec-eyecatchRole__intro">
            <p class="ec-eyecatchRole__introEnTitle">{{ '陶器のシーグラス'|trans }}</p>
            <p class="ec-eyecatchRole__introTitle">{{ '珍しい陶器のシーグラスはいかがですか。'|trans }}</p>
            <p class="ec-eyecatchRole__introDescription">{{ '海の中で長い時間をかけて磨かれ、砂浜に打ち上げられる「シーグラス」。
もともと海の中にあるものではなく、人の生活の中にあった様々なガラスが海にたどり着き、波によって削られて形を変えたものです。
自然の営みの中で磨かれたシーグラスはひとつとして同じものがなく、すりガラスのような優しい色合いと独特のフォルムを持っています。
その中でも珍しい、陶器のシーグラスも数点入手できましたので作品を作ってみました。
'|trans|nl2br }}</p>
            <a class="ec-blockBtn--top" href="{{ url('product_list') }}?category_id=2">{{ '一覧を見る'|trans }}</a>
        </div>
    </div>
</div>